@import '../../../node_modules/bootstrap/scss/bootstrap';
@import 'sticky-footer-navbar';
@import 'errors';

body {
  height: 100vh !important;
}
main {
  padding-top: 60px !important;
  padding-bottom: 20px;
}



